{% extends "wedding/client_base.html" %}


{% block content %}

    <!-- Event Details -->
			<h1>מידע כללי:</h1>
			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<h5 class="card-title">פרטי האירוע:</h5>
						<p>תאריך: {{ event.date }}</p>
						<p>מיקום: {{ event.event_location }}</p>
                        <p><a class="btn btn-info" href="{% url 'events_health:update-event' pk=event.pk %}" title="ערוך"><i class="far fa-edit"></i></a></p>

					</div>
				</div>
				<div class="col-md">
					<div class="card card-body">
						<div class="row">
							<div class="col-md">
								<h5>מספר מוזמנים:</h5>
								<hr>
								<br>
								<h1 style="text-align: center;padding: 10px">{{ guests.count }}</h1>
							</div>
							<div class="col-md">
								<h5>מספר רשומים:</h5>
								<hr>
								<br>
								<h1 style="text-align: center;padding: 10px">8</h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br>
			<hr>
			<h1>פרטי האורחים:</h1>
			<!-- search -->
			<div class="row">
				<div class="col">
					<div class="card card-body form-group search-input">
						<form class="form-inline" method="get">
							{{ guests_filter.form }}
							<button class="btn btn-outline-info" type="submit">חיפוש</button>
						</form>
					</div>
				</div>
			</div>
			<br>
			<!-- Guests table -->
			<div class="row">
				<div class="col-md">
					<div class="card card-body">
						<div class="row">
							<div class="col-md">
								<a href="#" class="btn btn-sm btn-primary btn-success" role="button" aria-pressed="true">הפק דו"ח</a>
								<a href="#" class="btn btn-sm btn-info" role="button" aria-pressed="true">העלאת קובץ חדש</a>
								<a href="{% url 'events_health:create-guest' pk=event.pk %}" class="btn btn-sm btn-info" role="button" aria-pressed="true" title="הוספת אורח לרשימה">הוספה <i class="fas fa-plus"></i></a>
							</div>
						</div>
						<br>
						<div class="wrapper-table">
							<table class="table table-hover">
								<thead>
									<tr>
										<th>שם</th>
										<th>גיל</th>
										<th>כתובת</th>
										<th>טלפון</th>
										<th>סטטוס</th>
										<th>ערוך</th>
										<th>הסר</th>
									</tr>
								</thead>
								<tbody>
									{% for guest in  guests %}
									<tr>
										<td>{{ guest.name }}</td>
										<td>{{ guest.age }}</td>
										<td>{{ guest.address }}</td>
										<td>{{ guest.phone }}</td>
										<td>{{ guest.status }}</td>
										<td>
{#                                            <p><a class="btn btn-info" href="{% url 'events_health:update-event' pk=event.pk %}" title="ערוך"><i class="far fa-edit"></i></a></p>#}

											<a class="btn btn-sm btn-outline-info" href="{% url 'events_health:update-guest' pk=guest.pk %}"> <i class="far fa-edit"></i></a>
										</td>
										<td>
											<a class="btn btn-sm btn-outline-danger" href=""><i class="fas fa-trash"></i></a>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


{% endblock content %}